.container {
    display: flex;
    flex-wrap: wrap;
}
.item {
    flex: 1 1 200px; /* crece y se encoge, con un ancho mínimo de 200px */
}
body {
    background: black; color: white;
    text-align: center;
}
p {
    font-family: 'Georgia', serif;
    text-align: center;
}
.pie {
    background: black; color: white;
    text-align: center;
}
.texto {
    font-style: italic;
}
.navbar a:hover {
    background-color: #ab5151;
}
.navbar {
    background: #a75f5f;
}